<style>
body{
    background-color: blue;
    text-align: centre;   

}
h3{


   color:blue;
}
h2{
   color:lightgreen;
   text-align: centre;

font-family: "Times New Roman", Times, serif;}
h1{
   color: red;
   text-align: centre;
}
p{ 
   font-family: verdana;
   text-align: centre;
}
</style>
  
